In [1]:
import pandas as pd
import glob

In [2]:
path =r'/Users/risaprezzano/Desktop/citibikes/datasets' # use your path
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

In [3]:
frame.shape

(3323699, 15)

In [4]:
frame.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [5]:
frame.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [6]:
frame.to_csv('df_2013.csv')

In [7]:
path =r'/Users/risaprezzano/Desktop/citibikes/datasets'
allFiles = glob.glob(path + "/*.csv")
frame14 = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame14 = pd.concat(list_)

In [11]:
frame14.shape

(8081216, 15)

In [12]:
frame14.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [10]:
frame14.to_csv('df_2014.csv')

In [13]:
path =r'/Users/risaprezzano/Desktop/citibikes/datasets'
allFiles = glob.glob(path + "/*.csv")
frame15 = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame15 = pd.concat(list_)

In [14]:
frame15.shape

(9937969, 15)

In [15]:
frame15.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [16]:
frame15.to_csv('df_2015.csv')

In [17]:
path =r'/Users/risaprezzano/Desktop/citibikes/datasets'
allFiles = glob.glob(path + "/*.csv")
frame16 = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame16 = pd.concat(list_)

In [18]:
frame16.shape

(13845655, 30)

In [19]:
names = frame16.columns.get_values()

In [20]:
names

array(['Bike ID', 'Birth Year', 'End Station ID', 'End Station Latitude',
       'End Station Longitude', 'End Station Name', 'Gender',
       'Start Station ID', 'Start Station Latitude',
       'Start Station Longitude', 'Start Station Name', 'Start Time',
       'Stop Time', 'Trip Duration', 'User Type', 'bikeid', 'birth year',
       'end station id', 'end station latitude', 'end station longitude',
       'end station name', 'gender', 'start station id',
       'start station latitude', 'start station longitude',
       'start station name', 'starttime', 'stoptime', 'tripduration',
       'usertype'], dtype=object)

In [41]:
heading= ['tripduration','starttime','stoptime','start station id','start station name',
          'start station latitude', 'start station longitude','end station id','end station name',
          'end station latitude', 'end station longitude','bikeid','usertype', 'birth year','gender']

In [58]:
path =r'/Users/risaprezzano/Desktop/citibikes/datasets'
allFiles = glob.glob(path + "/*.csv")
frame16 = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=False,names=heading,skiprows=[0],low_memory=False)
    list_.append(df)
frame16 = pd.concat(list_)

In [59]:
frame16.shape

(13845655, 15)

In [60]:
frame16.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [61]:
frame16.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [62]:
frame16.to_csv('df_2016.csv')

In [63]:
path =r'/Users/risaprezzano/Desktop/citibikes/datasets'
allFiles = glob.glob(path + "/*.csv")
frame17 = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=False,names=heading,skiprows=[0],low_memory=False)
    list_.append(df)
frame17 = pd.concat(list_)

In [65]:
frame17.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
889962,397,2017-12-31 23:54:22,2018-01-01 00:01:00,3417,Baltic St & 5 Ave,40.679577,-73.978550,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,30841,Subscriber,1957.0,2
889963,332,2017-12-31 23:54:44,2018-01-01 00:00:16,3236,W 42 St & Dyer Ave,40.758985,-73.993800,513,W 56 St & 10 Ave,40.768254,-73.988639,30417,Subscriber,1984.0,1
889964,565,2017-12-31 23:56:07,2018-01-01 00:05:33,254,W 11 St & 6 Ave,40.735324,-73.998004,411,E 6 St & Avenue D,40.722281,-73.976687,16125,Subscriber,1991.0,1
889965,1659,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.762699,-73.993012,3163,Central Park West & W 68 St,40.773407,-73.977825,33328,Subscriber,1988.0,2
889966,1279,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.771129,-73.957723,3143,5 Ave & E 78 St,40.776321,-73.964274,31023,Subscriber,1968.0,2

In [66]:
frame17.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [67]:
frame17.shape

(16364657, 15)

In [68]:
frame17.to_csv('df_2017.csv')